body{
    background-color: aquamarine;
}

p {
    font-family: cursive;
}

span {
    text-align: center;
}
label {
    font-family: cursive;
}

#password2 {
    background-color: violet;
    
}

#checkbox {
    color:darkorange !important;
}

.h1{
    color: bisque;
}

.fontType {
    font-size: 20px;
}
